* {
    box-sizing: border-box;
}

section.banner{
    display: none;
}

body{
    background-image: url("images/bg-body.png");
    font-family: sans-serif;
}

img.logo{
    border-radius: 50%;
    border: 1px solid gray;
    margin: 0 auto;
    width: 150px;
    display: block;
    margin-top: 25px;
}

header a span.fa{
    background-color: gray;
    display: inline-block;
    font-size: 50px;
    padding: 20px;
    color: white;
    margin: 0 auto;
    width: 84px;
    display: block;
    margin-top: 15px;
}

header a{
    text-decoration: none;
}

header{
    margin-bottom: 10px;
}

header nav ul{
    list-style-type: none;
    padding-left: 0;
    display: none;
}

header nav ul li{
    background-color: gray;
    text-align: center;
    padding: 10px;
    margin-bottom: 2px;
    text-transform: uppercase;
}

header nav ul li a{
    color: white;
}

header nav:hover ul{
    display: block;
}

img.photo{
    width: 100%;
}

img.special{
    position: absolute;
    top: 0;
    right: 0;
    right: 20px;
}

div.photo-container{
    position: relative;
}

a.zoom{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-transform: uppercase;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

article.product p{
    color: gray;
}

a.more{
    color: white;
    text-decoration: none;
    background-color: gray;
    padding: 10px;
    margin-top: 5px;
}

article.product{
    margin-bottom: 20px;
}

footer.main-footer{
    background-color: red;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer ul li{
    width: 12.5%;
    list-style-type: none;
    padding-right: 0px;
    margin-right: 0px;
}

footer ul li a{
   text-decoration: none;
   color: white;
   text-transform: capitalize;
   border-right: 1px solid white;
   margin-right: 0px;
}




@media only screen and (min-width: 768px) {
    
    header nav a.toggle-nav {
        display: none;
    }

    header nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header nav ul li{
        width: 12.5%;
    }

    section.banner{
        display: block;
    }

    section.banner img{
        width: 100%;
        margin-bottom: 10px;
    }

    article.product{
        width: 30%;
    }

    section.vip-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    div.container{
        width: 90%;
        margin: 0 auto;
    }
  }